@model IEnumerable<IBS.Core.Models.PolicyModel>

@{
    ViewBag.Title = "Index";
}
<div class="row col-md-12">
    <h2>
        Activity Summary
    </h2>
    <hr />
</div>
<div class="row col-md-12 form-group">
    <div class="col-md-6">
        <label>Start Date:</label> <input type="text" id="txtSDT" class="ibs-input ibs-border" autocomplete="off" />
    </div>
    <div class="col-md-6">
        <label>End Date:</label> <br />
        <input type="text" id="txtEDT" class="ibs-input ibs-border" autocomplete="off" />
    </div>

</div>
<div class="row col-md-12 form-group">
    <div class="col-md-6">
        <label>Date Type:</label><br />
        <select class="form-control ddldatetypes" multiple="multiple">
          
        </select>
    </div>
    <div class="col-md-6">
        <label>Partners:</label><br />
        <select class="form-control ddlpartners" multiple="multiple"></select>
    </div>

</div>
<div class="row col-md-12 form-group">
    <div class="col-md-6">
        <label>Divisions:</label><br />
        <select class="form-control ddldivisions" multiple="multiple"></select>
    </div>
    <div class="col-md-6">
        <label>Reconsile Type:</label><br />
        
        <select class="form-control ddlrtype" multiple="multiple">      
        </select>

    </div>
</div>

<div class="row col-md-12 form-group">
    <input id="btnSearch" type="submit" value="Search" class="btn btn-success" />
</div>

<table class="table table-bordered table-hover responsive">
    <thead class="thead-dark lbl-grid-head">
        <tr>
            <th>
                Partner Name
            </th>
            <th>
                Entry Date
            </th>
            <th>
                Stmt Date
            </th>
            <th>
                Paid Date
            </th>
            <th>
                Payment Date
            </th>
            <th>
                Commission Amount
            </th>
            <th></th>
        </tr>
    </thead>

</table>


<script type="text/javascript">

    $(function () {
        $("#txtSDT").datepicker();
        $("#txtEDT").datepicker();
    });

    $(".ddldatetypes").select2({
        maximumSelectionLength: 1000
    });
    $(".ddlpartners").select2({
        maximumSelectionLength: 1000
    });
    $(".ddldivisions").select2({
        maximumSelectionLength: 1000
    });

    $(".ddlrtype").select2({
        maximumSelectionLength: 1000
    });

    $(document).ready(function () {
        var host = window.location.origin;
        var apiPath = host + "/Reports";
        var isProd = false;
        if (isProd) {
            host = window.location.origin;
            apiPath = host + "/IBS/Reports";
        }

        $.ajax({
            type: "POST",
            url: apiPath + "/GetDateTypes",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var ddTypes = $(".ddldatetypes");
                $(ddTypes).empty();
                $(ddTypes).append($("<option></option>").val("").html("All"))
                for (var i = 0; i < data.length; i++) {
                    $(ddTypes).append($("<option></option>").val(data[i].Id).html(data[i].Name));
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });

        $.ajax({
            type: "POST",
            url: apiPath + "/GetDivisions",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var ddTypes = $(".ddldivisions");
                $(ddTypes).empty();
                $(ddTypes).append($("<option></option>").val("").html("All"))
                for (var i = 0; i < data.length; i++) {
                    $(ddTypes).append($("<option></option>").val(data[i].Id).html(data[i].Name));
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });

        $.ajax({
            type: "POST",
            url: apiPath + "/GetRType",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var ddTypes = $(".ddlrtype");
                $(ddTypes).empty();
                $(ddTypes).append($("<option></option>").val("").html("All"))
                for (var i = 0; i < data.length; i++) {
                    $(ddTypes).append($("<option></option>").val(data[i].Id).html(data[i].Name));
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });


        $.ajax({
            type: "POST",
            url: apiPath + "/GetPatrners",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var smDate = $(".ddlpartners");
                $(smDate).empty();
                $(smDate).append($("<option></option>").val("").html("All"))
                for (var i = 0; i < data.length; i++) {
                    $(smDate).append($("<option></option>").val(data[i].Id).html(data[i].Name));
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    });
</script>